{% extends 'base.html' %} {% block title %}Movie AI Chatbot{% endblock %} {%
block content %}

<body>
  <h1>Chat with our AI Assistant</h1>

  {% if bot_response %}
  <p><strong>You:</strong> {{ user_input }}</p>
  <p><strong>Bot:</strong> {{ bot_response }}</p>
  {% endif %}

  <form method="post">
    {% csrf_token %}
    <input
      type="text"
      name="user_input"
      placeholder="Type your message here..."
    />
    <button type="submit">Send</button>  
  </form>
</body>

{% endblock %}
