<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'base/style.css' %}"> 
</head>
<body>
    <div class="form-container">
        <h3>Login</h3>
        <form method="post" action="{% url 'login' %}">  
            {% csrf_token %}
            {{ form.as_p }} 
            <button type="submit">Login</button>
        </form>
    </div>
    <p>Need to register for an account? </p><a href="{% url 'register' %}">Register</a>
</body>
</html>
