<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movie Recommendation</title>
    {% load static %}  
    <link rel="stylesheet" type="text/css" href="{% static 'base/style.css' %}">
  </head>

<main class="movie_search">
  <body>
    {% include 'navbar.html' %}
    <div class="search-area">  
        <div class="form-container">
            <h1>Search for a movie</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}

                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <button type="submit">Submit</button>
            </form>

            {% if similar_movies %}
            <h2>10 Movies Similar to "{{ form.cleaned_data.title }}"</h2>
            <ul>
                {% for movie in similar_movies %}
                    <li><a href="{% url 'movie_details' movie.pk %}">{{ movie.title }}</a></li> 
                {% endfor %}
            </ul>
            {% elif form.cleaned_data %} 
                <p>No movies similar to "{{ form.cleaned_data.title }}" were found.</p>
            {% endif %}
        </div>
    </div> <body>
</html>