{% extends 'base.html' %}

{% block title %}Movie Recommender{% endblock %}

{% block content %}

<main class="movie_search">
  <body>
    <div class="search-area">  
        <div class="form-container">
            <h1>Recommend me a movie similar to</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Submit</button>

                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </form>

            {% if final_recommendations %}
            <h2>10 Movies Similar to "{{ form.cleaned_data.title }}"</h2>
            <ul>
                {% for movie in final_recommendations %}
                    <li><a href="{% url 'movie_details' movie.pk %}">{{ movie.title }}</a>
                    {% if user.is_authenticated %}
                        {% if movie in watchlist %}
                            <a href="{% url 'remove_from_watchlist' movie.movie_id %}">Remove from Watchlist</a>
                        {% else %}
                            <a href="{% url 'add_to_watchlist' movie.movie_id %}">Add to Watchlist</a>
                        {% endif %}
                    {% endif %}
                    </li> 
                {% endfor %}
            </ul>
            {% elif form.cleaned_data %} 
                <p>No movies similar to "{{ form.cleaned_data.title }}" were found.</p>
            {% endif %}
        </div>
    </div> <body>
</html>
{% endblock %}