{% extends 'base.html' %} {% block title %}{{movie.title}}{% endblock %} 
{% block content %}
<body>
    <!-- Movie Information -->
    <h1>{{movie.title}}</h1>
    {% if user.is_authenticated %}
        {% if movie in watchlist %}
            <a href="{% url 'remove_from_watchlist' movie.movie_id %}">Remove from Watchlist</a>
        {% else %}
            <a href="{% url 'add_to_watchlist' movie.movie_id %}">+ Add to Watchlist</a>
        {% endif %}
    {% endif %}
    <br>

    <button type="button" class="{% if not movie.homepage %}disabled-button{% endif %}">
        {% if movie.homepage %}
            <a href="{{ movie.homepage }}" target="_blank">Visit Movie Homepage</a>
        {% else %}
            Link Not Available
        {% endif %}
    </button>
    <h2>Movie Details</h2>
    <p>Tagline: {{movie.tagline}}</p>
    <p>Overview: {{movie.overview}}</p>
    <p>Director: {{movie.director}}</p>
    <p>Revenue: ${{movie.revenue}}</p>
    <p>Budget: ${{movie.budget}}</p>
    <p>Release Date: {{movie.release_date}}</p>
    <p>Runtime: {{movie.runtime}} minutes</p>
    

    <!-- Rating -->
    <h2>Ratings</h2>
    <p>Average Rating: {% if average_rating %}{{ average_rating|floatformat:1 }}/5{% else %}Not rated yet{% endif %}</p>
    {% if user.is_authenticated %}
        <p>Your Rating: {% if user_rating %}{{ user_rating }}/5 {% else %} You haven't rated this movie yet. {% endif %}</p>
        <form method="post">
            {% csrf_token %}
            <label for="rating">Rate this movie (1-5):</label>
            <select name="rating" id="rating">
                {% for i in '12345' %}
                    <option value="{{ i }}" {% if user_rating == i %}selected{% endif %}>{{ i }}</option>
                {% endfor %}
            </select>
            <button type="submit">Submit Rating</button>
        </form>
    {% endif %}

    <!-- Reviews -->
    <h2>Reviews</h2>
    {% if user.is_authenticated %}
        <h3>Add a Review</h3>
        <form method="post">
            {% csrf_token %}
            {{ review_form.as_p }} 
            <button type="submit">Submit Review</button>
        </form>
    {% else %}
        <p>Please log in to submit a review.</p>
    {% endif %}

    {% if reviews %}
        <ul>
        {% for review in reviews %}
            <li>
                <h3>{{ review.title }}</h3>
                <p>by {{ review.user.username }}</p>
                <p>{{ review.review }}</p>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No reviews yet.</p>
    {% endif %}

</body>
</html>
{% endblock %}