<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <!-- <a class="navbar-brand" href="#">Home</a> # placeholder for homepage--> 
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'homepage' %}">Home</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user_profile' %}">My Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'watchlist' %}">Watchlist</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'loginPage' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Sign Up</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'movie_search' %}">Recommender</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'chatbot' %}">AI Chatbot</a>
                </li>
            </ul>
            <form class="d-flex" action="{% url 'general_search' %}" method="get">
                {% csrf_token %}
                <input class="form-control me-2" type="search" name="title" placeholder="Search for movies..." aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            {% if user.is_authenticated %}
            <span class="navbar-text me-3 ms-3">Hello, {{ user.username }}</span>
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            {% endif %}
        </div>
    </div>
</nav>
