{% extends 'base.html' %} {% block title %}{{movie.title}}{% endblock %} 
{% block content %}
<body>
    <div class="form-container">
        <h3>Register</h3>
        <form method="post" action="{% url 'register' %}">
            {% csrf_token %}
            {% for field in form %}
                {{field.label}}
                {{field}}
                <br>
            {% endfor %}
            <button type="submit">Register</button>
        </form>
        {% for message in messages %}
            <p id="messages">{{message}}</p>
        {% endfor %}
        {{form.errors}}
        <p>Already have an account? </p><a href="{% url 'loginPage' %}">Login</a>
    </div>
</body>
</html>
{% endblock %}