<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'base/style.css' %}">
</head>
<body>
    {% include 'navbar.html' %}

    <main class="user_profile">
        {% if user.is_authenticated %}
            <h2>My Profile</h2>
            <!-- Basic info -->
            <div class="profile-info">
                <p><strong>Username:</strong> {{ user.username }}</p>
                <p><strong>First Name:</strong> {{ user.first_name }}</p>
                <p><strong>Last Name:</strong> {{ user.last_name }}</p>
                <p><strong>Email Address:</strong> {{ user.email }}</p>
            </div>

            <a href="{% url 'watchlist' %}">View My Watchlist</a>
            <a href="{% url 'user_ratings' %}">View My Ratings</a>
            <a href="{% url 'user_reviews' %}">View My Reviews</a>

        {% else %}
            <p>You need to be logged in to view your profile.</p>
        {% endif %}
    </main>
</body>
</html>
