<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'base/style.css' %}">
</head>
<body>
    {% include 'navbar.html' %}

    <main class="user_profile">
        {% if user.is_authenticated %}
            <h2>My Profile</h2>
            <!-- Basic info -->
            <div class="profile-info">
                <p><strong>Username:</strong> {{ user.username }}</p>
                <p><strong>First Name:</strong> {{ user.first_name }}</p>
                <p><strong>Last Name:</strong> {{ user.last_name }}</p>
                <p><strong>Email Address:</strong> {{ user.email }}</p>
            </div>

            <!-- Ratings -->
            <h2>My Ratings</h2>
            {% if user_ratings %}
                <ul>
                {% for rating in user_ratings %}
                    <li>{{ rating.movie.title }}: {{ rating.rating }}/5</li>
                {% endfor %}
                </ul>
            {% else %}
                <p>You haven't rated any movies yet.</p>
            {% endif %}

            <!-- Reviews -->
             <h2>My Reviews</h2>
             {% if user_reviews %}
                <ul>
                    {% for review in user_reviews %}
                        <h3>{{ review.movie.title }}: {{ review.title }}</h3>
                        <p>{{ review.review }}</p>
                    {% endfor %}
                </ul>
             {% endif %}

        {% else %}
            <p>You need to be logged in to view your profile.</p>
        {% endif %}
    </main>
</body>
</html>
