{% extends 'base.html' %} {% block title %}My Watchlist{% endblock %} 
{% block content %}

  <body>
    <main class="watchlist">
        <h2>My Watchlist</h2>
        {% if watchlist %}
            <ul>
                {% for item in watchlist %}
                    <li>
                        <a href="{% url 'movie_details' item.movie.pk %}">{{ item.movie.title }}</a>
                        <a href="{% url 'remove_from_watchlist' item.movie.movie_id %}">Remove</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Your watchlist is empty.</p>
        {% endif %}
    </main>
</body>
</html>
{% endblock %}