body {
    background-color: #333;
    color: white;
    font-family: sans-serif;
}

.search-area { 
    width: 90%; 
    max-width: 600px; /* TBC: Set a maximum width */
    margin: 0 auto;    /* Center the container */
}

.form-container {
    padding: 20px;
    border-radius: 8px;
    background-color: #444;
    text-align: center; 
}

h2, h1 {
    color: #FFD700;
    text-align: center; /* Center headings */
}

form {
    display: flex;
    align-items: center;
    width: 90%
}

input[type="text"] {
    flex-grow: 1;  /* Input takes up available space */
    padding: 10px;
    margin-right: 10px;  /* Add some space between the input and button */
    border: 1px solid #555;
    border-radius: 4px;
    background-color: #555;
    color: white;
}

button[type="submit"] {
    background-color: #FFD700;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
    text-align: center; /* Center the movie list */
}

li {
    margin-bottom: 10px;
}
